body {
  background:#c4c4c4;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #CF1259 !important;
}

Button:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color:	#2a052a;
  height: 90px;
  padding: 30px;
  color: white;
  margin-bottom: 2rem;
}
Button{
  background-color:#CF1259;
  color:white;
}
.App-title {
  font-size: 3rem;
  font-family: "Serif",Palatino, serif;;
}

.recipe_buttons {
  
  border: solid 2px #220066;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: #220066;
  text-transform: capitalize;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #CF1259;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
}

.form__button {
  border: solid 2px #220066;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #220066 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  width: 60%;
}

.active-recipe__img {
  border-radius: 5%;
  height: 450px !important;
  width: 450px;
}

.active-recipe__title {
  padding-left: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-recipe__publisher{
  text-transform: capitalize;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.active-recipe__website {
  text-transform: lowercase;
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #220066;
  margin-left: 10px;
}

.active-recipe__button {
  border: solid 2px #220066;
  background: transparent;
  color: #CF1259;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}